{% extends "layout.html" %}

{% block title %}
    Definitions
{% endblock %}

{% block main %}
        <div>
            <h2>
                Expected Return (ER)
            </h2>
            <p>
                The expected return is the profit or loss an investor anticipates on an investment that has known or anticipated rates of return (RoR).
                It is calculated by multiplying potential outcomes by the chances of them occurring and then totaling these results.
                For example, if an investment has a 50% chance of gaining 20% and a 50% chance of losing 10%, the expected return is 5% (50% x 20% + 50% x -10% = 5%).
            </p>
            <p>
                Taken from https://www.investopedia.com/terms/e/expectedreturn.asp
            </p>
        </div>
        <div>
            <h1 class="white">
                THIS IS FILLER
            </h1>
        </div>
        <div>
            <h2>
                Capital Asset Pricing Model (CAPM)
            </h2>
            <p>
                The Capital Asset Pricing Model (CAPM) describes the relationship between systematic risk and expected return for assets, particularly stocks.
                CAPM is widely used throughout finance for pricing risky securities and generating expected returns for assets given the risk of those assets and cost of capital.
            </p>
            <p>
                Taken from https://www.investopedia.com/terms/e/expectedreturn.asp
            </p>
        </div>
        <div>
            <h1 class="white">
                THIS IS FILLER
            </h1>
        </div>
        <div>
            <h2>
                Beta
            </h2>
            <p>
                A beta coefficient is a measure of the volatility, or systematic risk, of an individual stock in comparison to the unsystematic risk of the entire market.
                In statistical terms, beta represents the slope of the line through a regression of data points from an individual stock's returns against those of the market.
            </p>
            <p>
                Taken from https://www.investopedia.com/terms/b/beta.asp
            </p>
        </div>
        <div>
            <h1 class="white">
                THIS IS FILLER
            </h1>
        </div>
        <div>
            <h2>
                Price Earnings Ratio (PE)
            </h2>
            <p>
                The price-to-earnings ratio (P/E ratio) is the ratio for valuing a company that measures its current share price relative to its per-share earnings (EPS).
                The price-to-earnings ratio is also sometimes known as the price multiple or the earnings multiple.
            </p>
            <p>
                Taken from https://www.investopedia.com/terms/p/price-earningsratio.asp
            </p>
        </div>
        <div>
            <h1 class="white">
                THIS IS FILLER
            </h1>
        </div>
        <div>
            <h2>
                Risk-Free Rate
            </h2>
            <p>
                The risk-free rate of return is the theoretical rate of return of an investment with zero risk.
                The risk-free rate represents the interest an investor would expect from an absolutely risk-free investment over a specified period of time.
                The real risk-free rate can be calculated by subtracting the current inflation rate from the yield of the Treasury bond matching your investment duration.
            </p>
            <p>
                Taken from https://www.investopedia.com/terms/r/risk-freerate.asp
            </p>
        </div>
        <div>
            <h1 class="white">
                THIS IS FILLER
            </h1>
        </div>
        <div>
            <h2>
                Market Risk Premium
            </h2>
            <p>
                The market risk premium is the difference between the expected return on a market portfolio and the risk-free rate.
                The market risk premium is equal to the slope of the security market line (SML), a graphical representation of the capital asset pricing model (CAPM).
                CAPM measures required rate of return on equity investments, and it is an important element of modern portfolio theory and discounted cash flow valuation.
            </p>
            <p>
                Taken from https://www.investopedia.com/terms/m/marketriskpremium.asp
            </p>
        </div>

{% endblock %}
